@import "tailwindcss";

:root {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  background-color: #0f172a; /* fallback */
  color: rgba(255, 255, 255, 0.9);
}

body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at top center, #1e1b4b, #0f172a);
  background-size: cover;
  background-attachment: fixed;
}
